*{ 
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
}

.content {
  margin-top: 30px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.weather {
 margin-top: 10px;
 text-align: center;	
}

img {
	width: 60px;
	height:60px;
}

.material-icons {
line-height:20vw;
font-size:14vw;
vertical-align:middle;
}	

	