*{
    box-sizing: border-box;
}

body, html {
	font-family: 'arial', sans-serif;
	color: var(--color);
	height: 100%;
	margin: 0;
	position: relative;
}

.content {
	padding: 30px;
	max-width: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.weather {
	margin-top: 10px;
}

img {
	width: 60px;
	height:60px;
}

.material-icons {
	line-height:20vw;
	font-size:14vw;
	vertical-align:middle;
}	

	