*{ 
	font-family: 'arial', sans-serif;
    box-sizing: border-box;
}

.content {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.weather {
 margin-top: 10px;
}

img {
	width: 60px;
	height:60px;
}

.material-icons {
line-height:20vw;
font-size:14vw;
vertical-align:middle;
}	

	